*{
    margin: 0;
    padding: 0;
}

:root{
    --roxo-principal: #131267;
}

body{
    background-image: url('../../img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
}

.pesquisa > button, .pesquisa > input{
    background: none;
    border: none;
    font-size: 24px;
}

.pesquisa > button{
    color: var(--roxo-principal);
    padding: 4px;
}

.pesquisa{
    background-color: #fff;
    max-width: 80%;
    margin: 250px auto;
}

.pesquisa > input{
    width: 100%;
}

.nav-options{
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.navbar-nav{
    /* width: 420px; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

footer{
    width: 100%;     
    height: 160px;
    margin-top: 22%;
    background-image: linear-gradient(#0b135a,#0b135a,#0b135a,#322a88,#322a88,#322a88);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: -3px;
}
h2{
    color:white;
    font-size: 80px;
    font-style: italic;
    display: flex 40%;
    margin-left: 10%;
    margin-top: 20%;
}
p{
    color:white;
    font-size: 16px;
    margin-left: 80%;
    margin-top: -4%;
    font-style: italic;
    font-size: 18px;
}