:root{
    --roxo1: #270E8A;
    --roxo2: #131267;
}
*{
    margin: 0;
    padding: 0;
}
body{
        background-image: url('../../img/background.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding: 0;
}

.altura{
    padding: 0;
}

